:root {
    --background: #000000;
    --wall: #8cc9c2;
    --clothes: #d7667b;
    --hair: #1c1a1a;
    --skin_color: #c6886d;
    --nose: #ca7e5d;
    --eyebrow: #211b1b;
}

body {
    background-image: linear-gradient(-225deg, #cd78c9 0%, #0a090a 100%);
    background-image: linear-gradient(to top, #b370bc 0%, #8e5f6e 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1b223c;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(33, 41, 66);
    border-radius: 9px;
    border: 4px solid #8a98b8;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(65, 78, 122);
}

.box h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c6bc0;
    font-size: 18px;
    margin-top: 94px;
    ;
}

.box h4 span {
    color: #dfdeee;
    font-weight: lighter;
}

.box h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: -15px;
    margin-bottom: 70px;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
    display: block;
    margin: 20px auto;
    background: #2d3652;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #f0ecec;
}

::-webkit-input-placeholder {
    color: #565f79;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
    border: 1px solid #acb3c1;

}

a {
    color: #5c7fda;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.submit {
    border: 0;
    background: transparent;
    color: #03e9f4;
    border-radius: 5px;
    width: 340px;
    height: 49px;
    font-size: 16px;
    position: absolute;
    top: 75%;
    left: 8%;
    overflow: hidden;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 10px 20px;
}

.submit:hover {
    background: transparent;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
}

.signIn {
    position: absolute;
    top: 92%;
    left: 27%;
}

.avatar {
    display: flex;
    position: relative;
    background: var(--wall);
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transform: translate(80%, -220%);
}

.clothes {
    width: 4em;
    height: 2em;
    background: linear-gradient(to bottom, var(--clothes), rgb(205, 64, 64));
    position: absolute;
    display: block;
    top: 67%;
    left: 28%;
    border-radius: 60px 60px 0 0;
    z-index: 5;
}

.buttons1,
.buttons2
{
    width: 0.25em;
    height: 0.25em;
    background: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 48%;
    top: 49%;
}

.buttons2 {
    top: 80%;
}

.head {
    position: absolute;
    display: block;
    z-index: 3;
    width: 45px;
    height: 55px;
    background: var(--skin_color);
    border-radius: 40%;
    left: calc(50% - 23px);
    top: 45px;
}

.neck {
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    background: var(--skin_color);
    left: calc(50% - 10px);
    top: 60%;
    border-radius: 0% 0% 50% 50%;
    z-index: 6;
}

.hair1 {
    display: block;
    position: absolute;
    width: 2.5em;
    height: 1em;
    background: linear-gradient(to bottom, rgb(54, 34, 34), var(--hair));
    border-radius: 50% 50% 0% 70%;
    left: calc(50% - 18px);
    top: 23%;
    box-shadow: inset 10px -1px lighten(var(--background) 10%);
    transform: rotate(30deg);
    z-index: 5;
}

.hair2 {
    width: 4.5em;
    height: 5em;
    position: absolute;
    background: linear-gradient(to bottom, rgb(54, 34, 34), var(--hair));
    left: 25%;
    top: 20%;
    border-radius: 50% 50% 20% 20%;
}

.hair3 {
    display: block;
    position: absolute;
    width: 1em;
    height: 4.92em;
    background: linear-gradient(to bottom, rgb(54, 34, 34), var(--hair));
    border-radius: 50% 50% 0% 70%;
    left: calc(50% - 120px);
    top: 23%;
    box-shadow: inset 10px -1px lighten(var(--background) 10%);
    transform: rotate(-30deg);
    z-index: 5;
}

.eye-left,
.eye-right {
    display: block;
    position: absolute;
    flex-wrap: wrap;
    z-index: 30;
    top: 42%;
    left: 40%;
    width: 0.4em;
    height: 0.3em;
    background: black;
    content: '';
    animation: wink 3s ease-in-out infinite;
    border-radius: 50%;
}

.eye-right {
    left: 55%;
}

.eyebrow-left,
.eyebrow-right {
    width: 0.5em;
    height: 0.1em;
    background: var(--eyebrow);
    position: absolute;
    display: block;
    z-index: 10;
    top: 40%;
    left: 39%;
    border-radius: 90% 90% 0% 0%;
    transform: rotate(5deg);
}

.eyebrow-right {
    transform: rotate(-5deg);
    left: 55%;
}

.nose {
    display: block;
    position: absolute;
    z-index: 6;
    top: 48%;
    left: 48%;
    width: 4px;
    height: 7px;
    background: var(--nose);
    border-radius: 0% 60% 5% 5%;
}

.smile1,
.smile2,
.smile3 {
    display: block;
    position: absolute;
    z-index: 6;
    background-color: rgb(193, 84, 84);
    border-radius: 0% 0% 90% 90%;
    height: 0.3em;
    width: 0.8em;
    left: calc(50% - 7px);
    overflow: hidden;
    top: 57%;
}

.smile2,
.smile3 {
    width: 0.5em;
    border-radius: 50%;
    top: 56%;
    left: 45%;
}

.smile3 {
    left: 49%;
}

.blush1,
.blush2 {
    position: absolute;
    display: block;
    width: 0.35em;
    height: 0.15em;
    top: 50%;
    left: 38%;
    background-image: radial-gradient(circle, rgb(222, 158, 169), rgb(213, 132, 132));
    border-radius: 50%;
    z-index: 10;
}

.blush2 {
    left: 57%;
}

@keyframes wink {
    0% {
        transform: scaleY(1);
    }

    18% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(0);
    }

    25% {
        transform: scaleY(1);
    }

    38% {
        transform: scaleY(1);
    }

    40% {
        transform: scaleY(0);
    }

    45% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(1);
    }
}




